.productimage{
    width: 150px;
    height: 200px;
}
.maincontainer{
    display: flex;
    flex-direction: column;
    align-content: center;
}
#productList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.proda{
    list-style: none;
    height: fit-content;
    width: 16rem;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 0px;
    box-shadow: 3px 3px 3px 3px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(236,236,236);
}
#logo_image{
    height: 4rem;
    width: 7rem;
}
.navbars{
    top: 0px;
}
.containerr{
    margin-top: 2rem;
}